block variables

doctype html
html
	head
		meta(charset="utf-8")
		title #{title}
		meta(content="" name="author")
		meta(content="" name="description")
		meta(content="" name="keywords")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		meta(content="ie=edge" http-equiv="x-ua-compatible")
		meta(content="cdc79537f1d9f113c73cd2fd46ca0125" name="cmsmagazine")
		meta(content="Веб-студия WayToStart" name="author")

		link(sizes="32x32" href='assets/img/icon/favicon.ico' rel='icon' type='ico')

		link(rel='stylesheet' href='/assets/css/foundation.css')
		link(rel='stylesheet' href='/assets/css/app.css')
		link(rel='stylesheet' href='/assets/js/lightbox/css/lightbox.min.css')
		link(rel='stylesheet' href='/assets/js/slick/slick.css')
		script(src='/assets/js/foundation.js' defer)
		script(src='/assets/js/lightbox/js/lightbox.min.js' defer)
		script(src='/assets/js/slick/slick.min.js' defer)
		script(src='/assets/js/app.js' defer)

		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->

body
	include common/_mixins
	include common/_header

	block content
		
	include common/_footer
