@import 'fonts';
@import 'variables';
@import 'mixin';
@import 'base';

@import 'common/titles';
@import 'components/sort';
@import 'common/tables';

@import 'components/header';
@import 'components/logo';
@import 'components/main-menu';
@import 'components/breadcrumb';
@import 'components/slider';
@import 'components/advantages';
@import 'components/lease';
@import 'components/our-ships';
@import 'components/main';
@import 'components/aside';
@import 'components/content';
@import 'components/faq';
@import 'components/contracts';
@import 'components/license';
@import 'components/contacts';
@import 'components/news';
@import 'components/pagination';
@import 'components/feedbacks';
@import 'components/rating';
@import 'components/events';
@import 'components/ships-list';
@import 'components/order-form';
@import 'components/our-offers';
@import 'components/search';
@import 'components/parkings';
@import 'components/service';
@import 'components/tickets';
@import 'components/trips';
@import 'components/filter';

@import 'components/footer';
@import 'components/back-call';