// fonts
$roman: 'HelveticaNeueCyr-Roman';
$light: 'HelveticaNeueCyr-Light';
$bold: 'HelveticaNeueCyr-Bold';
$medium: 'HelveticaNeueCyr-Medium';
$gotham: 'GothamProMedium';
// colors
$background: #e5eef6;
$grey-bg: #f6f9fb;
$lgrey-bg: #f5f8fb;
$white: #ffffff;
$grey-text: #7a7a7a;
$lgrey-text: #94a3b0;
$blue-text: #0054a5;
$light-blue: #2fc8fb;
$dark-blue: #0053a3;
$orange: #f7941d;
$orange-text: #ff5a00;
$grey-line: #c4d4e2