footer.footer
	.container
		.footer__wrapper
			.footer__block
				.footer__menu-block
					.footer__title Аренда теплохода
					ul.footer__menu
						li.footer__menu-item
							a.footer__menu-link(href="#") До 35 (60) человек
						li.footer__menu-item
							a.footer__menu-link(href="#") До 35 (60) человек
						li.footer__menu-item
							a.footer__menu-link(href="#") До 35 (60) человек
						li.footer__menu-item
							a.footer__menu-link(href="#") До 35 (60) человек
						li.footer__menu-item
							a.footer__menu-link(href="#") До 35 (60) человек
						li.footer__menu-item
							a.footer__menu-link(href="contracts.html") Договора, контракты
				.footer__menu-block
					.footer__title О нас
					ul.footer__menu
						li.footer__menu-item
							a.footer__menu-link(href="contacts.html") Контакты
						li.footer__menu-item
							a.footer__menu-link(href="#") Миссия
						li.footer__menu-item
							a.footer__menu-link(href="license.html") Лицензия
						li.footer__menu-item
							a.footer__menu-link(href="#") Реквизиты и оплата
				.footer__menu-block
					.footer__title Интересное
					ul.footer__menu
						li.footer__menu-item
							a.footer__menu-link(href="#") Акции
						li.footer__menu-item
							a.footer__menu-link(href="news.html") Новости
						li.footer__menu-item
							a.footer__menu-link(href="#") Статьи
						li.footer__menu-item
							a.footer__menu-link(href="faq.html") FAQ
						li.footer__menu-item
							a.footer__menu-link(href="#") Отзывы

			.footer__block.footer__block--column
				.footer__contacts
					.footer__contacts-item.footer__contacts-item--phone
						.footer__contacts-block
							a.footer__contacts-number(href="#") 8 (495) 730-8690
							.footer__contacts-time 10:00 - 22:00
						.footer__contacts-block
							a.footer__contacts-number(href="#") 8 (495) 730-8690
							.footer__contacts-time Круглосуточно
					.footer__contacts-item.footer__contacts-item--email
						.footer__contacts-title E-mail:
						a.footer__contacts-link(href="#") info@mosflot.ru
					.footer__contacts-item.footer__contacts-item--address
						.footer__contacts-title Адрес:
						.footer__contacts-title г. Москва, Краснопресненская наб., 16с1
				.footer__social
					.footer__social-title Социальные сети:
					.footer__social-icons
						a.footer__social-icon.footer__social-icon--fb(href="#")
						a.footer__social-icon.footer__social-icon--inst(href="#")
						a.footer__social-icon.footer__social-icon--vk(href="#")
						a.footer__social-icon.footer__social-icon--youtube(href="#")

		.footer__copyright
			.footer__copyright-item Судоходная Компания «МосФлот» Все права защищены © 2000 - 2018
			a.footer__copyright-link(href="#") Создание сайта веб-студия waytostart

	a.back-call(href="#")
