header.header
	.container
		.header__wrapper
			a.logo(href="/")
				img(src="/assets/img/logo.png", alt="logo")
				.logo__text Аренда теплохода в Москве<br>Прогулки на теплоходе
			.header__contacts
				.header__contacts-item
					a.header__contacts-phone(href="#") 8 (495) 730-0860
					.header__contacts-time 10:00 - 22:00
				.header__contacts-item
					a.header__contacts-phone(href="#") 8 (495) 730-0860
					.header__contacts-time 10:00 - 22:00
		.main-menu
			a.main-menu__burger(href="#", id="menu")

			ul.main-menu__list
				li.main-menu__item.main-menu__item--blue
					a.main-menu__link(href="#") Аренда теплохода
				li.main-menu__item.main-menu__item--blue
					a.main-menu__link(href="trips.html") Прогулки на теплоходе
				li.main-menu__item
					a.main-menu__link(href="events.html") Мероприятия
				li.main-menu__item
					a.main-menu__link(href="services.html") Услуги
				li.main-menu__item
					a.main-menu__link(href="parkings.html") Причалы и стоянки
				li.main-menu__item.main-menu__item--costing
					a.main-menu__link#modal-call(href="#") Рассчитать мероприятие