mixin breadcrumbs(items)
	- var n = 0;
	ul.breadcrumb
		while n < items.length
			if (n == items.length - 1)
				li.breadcrumb__item #{items[n++]}
			else
				li.breadcrumb__item
					a.breadcrumb__link(href="#") #{items[n++]}
