ul.pagination
	li.pagination__item
		a.pagination__link.pagination__link--btn(href="") В начало
	li.pagination__item
		a.pagination__link(href="") 1
	li.pagination__item
		a.pagination__link(href="") 2
	li.pagination__item
		a.pagination__link(href="") 3
	li.pagination__item.pagination__item--dots ...
	li.pagination__item
		a.pagination__link(href="") 10
	li.pagination__item
		a.pagination__link.pagination__link--btn(href="") В конец