.main-title {
	font-family: $bold;
	font-size: 30px;

	text-align: center;
	
	&--logo {
		padding-top: 100px;
		margin-top: 0;

		position: relative;

		&::before {
			content: url('../img/logo.png');

			position: absolute;
			top: 0;
		    left: 50%;

		    margin-left: -62px;
		}
	}

	&--left {
		text-align: left;

		margin-bottom: 54px;

		@include small_mobile {
			margin-bottom: 15px;
		}

		@include tablet {
			margin-bottom: 25px;	
		}

		@include medium {
			margin-bottom: 54px;
		}
	}
}

.h3 {
	font-family: $bold;
	font-size: 20px;

	margin-top: 0;

	&--blue {
		color: $dark-blue;
	}

	&--smaller {
		font-size: 18px;
	}
}

.title-grey {
	font-family: $bold;
	font-size: 24px;

	text-align: center;

	margin-top: 0;

	color: #b6c1cb;
}

.title-black {
	font-family: $bold;
	font-size: 24px;

	color: inherit;

	margin-top: 0;
	margin-bottom: 25px;
}