.advantages {
	padding-top: 55px;
	padding-bottom: 70px;

	background: $white;
	
	&__blocks {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		padding-top: 40px;
	}

	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include small_mobile {
			width: 30%;
		}

		@include tablet {
			width: 30%;	
		}

		@include medium {
			width: 15%;	
		}

		@include desctop {
			width: 13%;	
		}

		&-text {
			font-family: $roman;
			font-size: 18px;
			line-height: 22px;

			text-align: center;

			padding-top: 20px;
		}
	}
}