.aside {
	width: 23%;

	@include small_mobile {
		width: 100%;

		margin-bottom: 20px;
	}

	&__block {
		background: $white;

		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}

	&__title {
		font-family: $medium;
		font-size: 18px;
		font-weight: normal;

		padding-top: 25px;
		padding-left: 25px;

		margin-top: 0;
		margin-bottom: 20px;

		color: $lgrey-text;
	}

	&__menu {
		list-style: none;

		margin: 0;
		padding-left: 0;

		&-item--active &-link,
		&-item:hover &-link {
			color: $dark-blue;

			border-color: $dark-blue;
		}

		&-link {
			display: block;

			font-family: $roman;
			font-size: 15px;

			text-decoration: none;

			border-left: 2px solid $white;

			padding: 16px 10px 16px 25px;

			color: inherit;

			@include small_mobile {
				padding: 10px;
			}
		}

		&-sublist {
			list-style: none;

			padding-left: 43px;

			&-item:not(:last-child) {
				margin-bottom: 15px;
			}

			&-link {
				color: inherit;

				text-decoration: none;

				&:hover {
					border-bottom: 1px solid #7f7f7f;
					box-shadow: 0px 1px 1px 0px #bfbfbf;
				}
			}
		}
	}
}