.breadcrumb {
	display: flex;

	list-style: none;

	padding: 40px 0;
	margin-top: 0;
	margin-bottom: 15px;
	
	font-family: $roman;
	font-size: 15px;

	&__item {
		position: relative;

		&:first-child {
			color: $blue-text;
		}

		&:not(:last-child) {
			margin-right: 20px;
			padding-right: 20px;

			border-right: 1px solid #3e4042;
		}
	}

	&__link {
		text-decoration: none;

		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}
}