.breadcrumb {
	display: flex;

	font-size: 12px;

	padding-top: 25px;
	margin-bottom: 22px;

	&__item {
		position: relative;

		&:not(:last-child) {
			margin-right: 22px;

			&::after {
				content: '>';

				position: absolute;
				right: -16px;

				color: #c6c6c6;
			}
		}
	}

	&__link {
		text-decoration: none;

		color: #c6c6c6;

		&:hover {
			text-decoration: underline;
		}
	}
}