.events {
	padding: 0;

	&__header {
		padding: 30px 25px 20px 25px;
	}

	&__title {
		font-family: $medium;
		font-size: inherit;
		line-height: 26px;

		text-align: center;

		margin: 0;
	}

	&__main-image {
		width: 100%;

		margin-bottom: 20px;

		& > img {
			width: 100%;
		}
	}

	&__slider {
		padding: 0 54px;

		& .slick-arrow {
			display: block;
			width: 18px;
			height: 24px;

			border: none;
			background: url('../img/icon/small-slider_arrows.png') no-repeat 0 0;

			font-size: 0;

			padding: 0;

			position: absolute;
			top: 50%;

			margin-top: -12px;

			&:hover {
				opacity: .5;
			}
		}

		& .slick-prev {
			left: 39px;
		}

		& .slick-next {
			right: 39px;

			background-position: -35px 0;

			@include desctop {
				right: 36px;	
			}
		}
	}

	&__slide {
		margin: 0 3px;

		cursor: pointer;

		position: relative;

		&.slick-active:last-of-type {
			padding-right: 0;
		}

		&:hover::after {
			content: '';

			display: block;
			width: 100%;
			height: 100%;

			background: url('../img/full.png') no-repeat 50% 50%, rgba(46, 188, 241, .5);

			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&__slide img {
		width: 100%;
	}

	&__description {
		font-size: 15px;
		line-height: 24px;

		padding: 20px 30px;

		border-bottom: 1px solid $grey-line;
	}

	&__footer {
		padding: 10px 30px 45px 30px;
	}
}