.feedbacks {
	padding: 0;

	&__header {
		padding: 45px 100px 80px 100px;

		border-bottom: 1px solid #c4d4e2;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		&--column {
			flex-direction: column;
		}
	}

	&__add {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 35%;

		&--row {
			flex-direction: row;
			align-items: center;

			width: 100%;
		}
	}

	&__title-wrapper {
		margin-bottom: 35px;
	}

	&__sign {
		font-size: 14px;
		line-height: 16px;

		text-align: center;

		margin-bottom: 22px;

		&--left {
			width: 45%;

			text-align: left;

			margin-bottom: 0;
		}
	}

	&__new {
		display: inline-block;

		font-family: $bold;

		padding: 10px 40px;

		background: $orange;
		border-radius: 30px;

		color: $white;

		text-decoration: none;

		&--small {
			padding-top: 6px;
			padding-bottom: 6px;

			background: $orange-text;
		}

		&:hover {
			opacity: .7;
		}
	}

	&__list {
		padding: 35px 30px 20px 30px;

		&-header {
			display: flex;
			justify-content: space-between;

			margin-bottom: 20px;
		}

		&-item {
			display: flex;

			padding: 17px 15px;

			border: 2px solid $background;
			border-radius: 8px;

			&:not(:last-child) {
				margin-bottom: 13px;
			}
		}

		&-data {
			width: 20%;

			padding-right: 15px;
		}

		&-name {
			font-family: $medium;

			margin-bottom: 13px;
		}

		&-date {
			font-family: $roman;
			font-size: 13px;
		}

		&-text {
			width: 80%;

			font-size: 14px;
			line-height: 22px;
		}
	}
}