.logo {
	display: flex;
	align-items: center;

	text-decoration: none;

	@include small_mobile {
		margin-bottom: 25px;
	}

	@include tablet {
		margin-bottom: 25px;	
	}

	@include medium {
		margin-bottom: 0;	
	}

	& > img {
		margin-right: 45px;
	}

	&__text {
		color: $grey-text;

		line-height: 24px;
	}
}