.logo {
	display: flex;
	align-items: center;

	text-decoration: none;

	@include small {
		flex-direction: column;
		justify-content: center;
	}

	@include small_mobile {
		margin-bottom: 25px;
	}

	@include tablet {
		margin-bottom: 25px;	
	}

	@include medium {
		margin-bottom: 0;	
	}

	& > img {
		margin-right: 45px;

		@include small {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}

	&__text {
		color: $grey-text;

		line-height: 24px;

		@include small_mobile {
			text-align: center;
		}
	}
}