.modal {
	width: 420px;

	margin-left: -135px;
  	margin-top: -280px;

	font-family: $roman;
	font-size: 14px;

	transition: top 0.5s;

  	position: fixed;
  	top: -250%;
  	left: 50%;

  	z-index: 10000;

  	&--active {
  		top: 50%;
  		left: 50%;

  		margin-left: -210px;

  		@include small {
  			margin-left: -150px;
  		}
  	}

	&__wrapper {
		width: 425px;

		padding: 65px 30px 40px 30px;

		background: $white;

		position: relative;

		@include small {
			width: 300px;

			padding: 35px 20px;
		}
	}

	&__close {
		width: 25px;
		height: 25px;

		padding: 0;

		border: none;

		background: url('../img/icon/close.png') no-repeat 0 0;

		position: absolute;
		top: 18px;
		right: 14px;
	}

	&__header {
		text-align: center;

		margin-bottom: 50px;
	}

	&__main_title {
		font-family: $bold;
		font-size: 26px;

		color: $dark-blue;

		margin-bottom: 10px;
	}

	&__title {
		font-size: 15px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include small {
			flex-direction: column;
		}

		&--center {
			justify-content: center;
		}

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__label {
		@include small {
			margin-bottom: 10px;
		}
	}

	&__input {
		width: 70%;

		padding: 10px 15px;

		background: $background;
		border-radius: 8px;
		border: none;

		@include small {
			width: 55%;
		}
	}

	&__checkbox {
		display: none;

		&-label {
			color: #6a7b8a;

			padding-left: 60px;

			position: relative;

			&::before {
				content: '';

				display: block;
				width: 30px;
				height: 30px;

				border-radius: 8px;
				background: $background;

				position: absolute;
				left: 0;
				top: 0;
			}
		}

		&:checked + &-label::after {
			content: '';

			display: block;
			width: 10px;
			height: 20px;

			border-bottom: 3px solid #2abcf1;
			border-right: 3px solid #2abcf1;

			transform: rotate(45deg);

			position: absolute;
		    top: 2px;
    		left: 11px;
		}
	}

	&__submit {
		font-family: $bold;

		padding: 18px 30px;

		background: #2abcf1;
		color: $white;

		text-transform: uppercase;

		border-radius: 30px;
		border: none;

		cursor: pointer;

		&:hover {
			opacity: .7;
		}
	}

	&__background {
		width: 0;
		height: 0;

  		background: #9fbfdd;

  		position: fixed;
		top: 0;
		left: 0;

		opacity: 0;
  		transition: opacity 0.5s;

  		z-index: 9999;

  		&--active {
			opacity: 0.5;
			width: 100%;
			height: 100%;
  		}
	}
}