.news {

	&__block {
		display: flex;

	    border: 2px solid #e5eef6;
    	border-radius: 8px;

    	@include small {
    		flex-direction: column;
    	}

    	&:not(:last-child) {
    		margin-bottom: 10px;
    	}

    	&-wrapper {
    		margin-bottom: 20px;
    	}
	}

	&__image {
		height: 190px;
		width: 210px;

		@include small {
			width: auto;
		}

		& img {
			margin: auto;
		}
	}

	&__description {
		display: flex;
		flex-direction: column;

    	padding: 25px 20px 20px 25px;

		&-title {
			font-family: $medium;

			margin-bottom: 20px;
		}

		&-text {
			font-size: 14px;
			line-height: 22px;
		}

		&-more {
			align-self: flex-end;

			font-family: $bold;

			color: $light-blue;

		    margin-top: auto;

		    &:hover {
		    	color: $orange-text;
		    }
		}
	}

	&-item {
		padding: 0;

		&__block {
			padding: 25px 30px 30px 25px;
		}

		&__back {
			display: inline-block;

			font-family: $medium;
			font-size: 13px;

			color: $white;

			text-decoration: none;

			border-radius: 30px;

			padding: 9px 40px;
			margin-bottom: 20px;

			background: $lgrey-text;
		}

		&__title {
			font-family: $medium;
			font-size: 20px;
			line-height: 28px;
		}

		&__text {
			font-size: 15px;
			line-height: 24px;
		}

		&__row {
			display: flex;
			justify-content: flex-end;
		}

		&__footer {
			display: flex;
			justify-content: space-between;

			padding: 26px 30px 20px 30px;

			border-top: 1px solid #c4d4e2;
		}

		&__link {
			font-family: $medium;
			font-size: 13px;

			text-decoration: none;

			border: 1px solid $light-blue;
			border-radius: 30px;

			padding: 8px 20px;

			&--prev {
				color: $white;
				background: $light-blue;
			}

			&--next {
				color: $light-blue;
			}

			&:hover {
				opacity: .7;
			}
		}
	}
}