.news {

	&__block {
		display: flex;

	    border: 2px solid #e5eef6;
    	border-radius: 8px;

    	&:not(:last-child) {
    		margin-bottom: 10px;
    	}

    	&-wrapper {
    		margin-bottom: 20px;
    	}
	}

	&__image {
		height: 190px;
		width: 210px;
	}

	&__description {
		display: flex;
		flex-direction: column;

    	padding: 25px 20px 20px 25px;

		&-title {
			font-family: $medium;

			margin-bottom: 20px;
		}

		&-text {
			font-size: 14px;
			line-height: 22px;
		}

		&-more {
			align-self: flex-end;

			font-family: $bold;

			color: $light-blue;

		    margin-top: auto;

		    &:hover {
		    	color: $orange-text;
		    }
		}
	}

	&-item {
		padding: 0;

		&__block {
			padding: 25px 30px 30px 25px;
		}

		&__images {
			float: left;

			margin-right: 30px;
			margin-bottom: 20px;
		}

		&__main-image {
			margin-bottom: 7px;
		}

		&__slider {
			width: 397px;

			position: relative;

			&::before {
				content: '';

				display: block;
				width: 60px;
				height: 100%;

				background: linear-gradient(to right, rgba(127, 215, 247, .8), rgba(255, 255, 255, 0));

				position: absolute;
				top: 0;
				left: 0;

				z-index: 10;
			}

			&::after {
				content: '';

				display: block;
				width: 60px;
				height: 100%;

				background: linear-gradient(to left, rgba(127, 215, 247, .8), rgba(255, 255, 255, 0));

				position: absolute;
				top: 0;
				right: 0;

				z-index: 10;
			}

			& .slick-arrow {
				display: block;
				height: 12px;
				width: 10px;

				background: transparent;
				border: none;

				margin-top: -6px;

				font-size: 0;

				position: absolute;
				top: 50%;

				z-index: 20;
			}

			& .slick-prev {
				background: url('../img/smallarrow-prev.png') no-repeat 0 0;
				left: 10px;
			}

			& .slick-next {
				background: url('../img/small-arrow-next.png') no-repeat 0 0;
				right: 10px;
			}
		}

		&__slide {
			padding: 0 5px;

			& > img {
				width: 100%;
			}
		}

		&__back {
			display: inline-block;

			font-family: $medium;
			font-size: 13px;

			color: $white;

			text-decoration: none;

			border-radius: 30px;

			padding: 9px 40px;
			margin-bottom: 20px;

			background: $lgrey-text;
		}

		&__title {
			font-family: $medium;
			font-size: 20px;
			line-height: 28px;
		}

		&__text {
			font-size: 15px;
			line-height: 24px;
		}

		&__footer {
			display: flex;
			justify-content: space-between;

			padding: 26px 30px 20px 30px;

			border-top: 1px solid #c4d4e2;
		}

		&__link {
			font-family: $medium;
			font-size: 13px;

			text-decoration: none;

			border: 1px solid $light-blue;
			border-radius: 30px;

			padding: 8px 20px;

			&--prev {
				color: $white;
				background: $light-blue;
			}

			&--next {
				color: $light-blue;
			}

			&:hover {
				opacity: .7;
			}
		}
	}
}