.order-form {
	font-family: $roman;
	font-size: 14px;

	margin-bottom: 30px;

	background: $white;

	@include small_mobile {
		padding: 20px 40px;
		
		margin-top: 20px;
	}

	@include tablet {
		padding: 15px;	
	}

	@include medium {
		padding: 20px;	
	}

	@include desctop {
		padding: 33px 30px 28px 30px;		
	}

	&__title {
		font-family: $bold;
		font-size: 18px;
		line-height: 24px;

		text-align: center;

		color: $blue-text;

		margin-bottom: 25px;

		@include tablet {
			font-size: 16px;

			white-space: pre-wrap;	
		}
	}

	&__row {
		display: flex;
		flex-direction: column;
		align-items: center;

		margin-bottom: 22px;

		@include tablet {
			margin-bottom: 10px;	
		}

		@include medium {
			margin-bottom: 22px;
		}

		&--start {
			align-items: flex-start;
		}
	}

	&__label {
		display: inline-block;

		margin-bottom: 10px;

		&--small {
			font-family: $roman;
			font-size: 14px;

			margin-right: 20px;
			margin-bottom: 0;
		}
	}

	&__input {
		width: 100%;

		padding: 8px 15px;

		background: $background;
		border: none;
		border-radius: 8px;

		&--small {
			font-size: 14px;
			
			width: 140px;
		}

		&--num {
			width: 120%;
		}

		&-date {
			width: 100%;

			font-size: 14px;

			border-radius: 8px;
			border: none;

			background: url('../img/icon/calendar.png') no-repeat 90% 50%, $background;
			color: #afbdc9;

			padding: 8px 15px;

			&--small {
				width: 140px;
			}

			&::-webkit-datetime-edit-fields-wrapper { 
				background: $background; 
			}

			&::-webkit-inner-spin-button { 
				display: none; 
			}

			&::-webkit-calendar-picker-indicator { 
				color: transparent;

				background: url('../img/icon/calendar.png') no-repeat 55px 50%;

				z-index: 10;
			}
		}

		&_wrapper {
			width: 100%;

			border-radius: 8px;

			overflow-x: hidden;
		}
	}

	&__select {
		@extend .order-form__input;

		padding-right: 30px;

		appearance: none;

		font-family: $roman;

		color: $dark-blue;

		background: url('../img/icon/select-open.png') no-repeat 93% 50%, $background;
	}

	&__submit {
		width: 100%;

		font-family: $bold;
		font-size: 16px;

		border: none;
		border-radius: 30px;

		white-space: pre-wrap;

		background: $orange-text;

		color: $white;

		padding: 10px 0;
		margin-top: 8px;

		cursor: pointer;

		&--tall {		
			background: $orange;

			padding: 18px 0;

			@include tablet {
				font-size: 13px;

				padding: 10px 0;	
			}

			@include medium {
				font-size: 13px;

				padding: 18px 0;	
			}

			@include desctop {
				font-size: 14px;	
			}
		}

		&:hover {
			opacity: .7;
		}
	}

	&__radio {
		display: none;

		&-wrap {
			display: flex;
			flex-direction: row;

			@include tablet {
				flex-direction: column;	
			}

			@include medium {
				flex-direction: row;	
			}
		}

		&-label {
			font-size: 14px;

			padding-left: 27px;

			color: $lgrey-text;

			position: relative;

			&::before {
				content: '';

				display: block;

				width: 18px;
				height: 18px;

				border: 1px solid $lgrey-text;
				border-radius: 50%;

				position: absolute;
				left: 0;
				top: 0;
			}

			@include small_mobile {
				&:not(:last-child) {
					margin-right: 25px;
				}
			}

			@include tablet {
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}

			@include medium {
				&:not(:last-child) {
					margin-right: 15px;
					margin-bottom: 0;
				}	
			}
		}

		&:checked + &-label::after {
			content: '';

			display: block;
			width: 8px;
			height: 8px;

			background: $lgrey-text;
			border-radius: 50%;

			position: absolute;
			top: 5px;
			left: 5px;
		}
	}

	&__line {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding: 15px 0;

		&:not(:last-of-type) {
			border-bottom: 1px solid $background;
		}
	}

	&__small-title {
		font-family: $medium;
		font-size: 14px;

		text-align: center;

		margin-bottom: 5px;
	}

	&__price {
		@extend .ships-list__item-price;

		font-size: 18px;

		@include tablet {
			text-align: center;	
		}

		&_row {
			display: flex;
			justify-content: space-around;

			width: 100%;
		}
	}

	&__oldprice {
		@extend .ships-list__item-oldprice;

		@include tablet {
			text-align: center;	
		}
	}
}