.our-offers {
	background: $white;

	&:not(:last-child) {
		margin-bottom: 7px;
	}

	&__header {
		font-family: $medium;
		font-size: 18px;
		line-height: 24px;

		text-align: center;

		background: #2abcf1;

		padding: 20px 40px 17px 40px;

		color: $white;
	}

	& ul {
		display: flex;
		flex-direction: column;
		align-items: center;

		margin: 0;
		padding: 15px 20px;

		& li {
			list-style-type: none;

			line-height: 26px;

			text-align: center;

			&::before {
				content: '•';

				margin-right: 15px;

				color: #9cabb8;
			}
		}
	}

	&__footer {
		font-family: $roman;

		padding: 18px 40px;

		text-align: center;

		border-top: 1px solid $grey-line
	}

	&__title {
		font-family: $bold;

		margin-bottom: 12px;
	}

	&__cost {
		font-family: $medium;
		font-size: 20px;

		color: #21a5df;

		margin-bottom: 10px;
	}
}