.our-ships {
	background: $white;

	padding-top: 55px;

	&__wrapper {
		display: flex;
		justify-content: space-between;

		@include small_mobile {
			flex-direction: column;
			align-items: center;

			margin-bottom: 20px;
		}

		@include tablet {
			flex-direction: column;
			align-items: center;

			margin-bottom: 40px;
		}

		@include medium {
			flex-direction: row;	
		}
	}

	&__block {
		padding: 70px 0;

		@include small_mobile {
			padding: 40px 0;
		}

		&--grey {
			border-top: 2px solid #e5eef6;
			border-bottom: 2px solid #e5eef6;

			background: #f6f9fb;
		}
	}

	&__header {
		font-family: $bold;
		font-size: 20px;
		line-height: 24px;

		color: $blue-text;

		padding-left: 70px;

		@include small_mobile {
			padding-left: 0;

			margin-bottom: 20px;
		}

		@include tablet {
			padding-left: 0;

			margin-bottom: 20px;
		}

		@include medium {
			padding-left: 70px;

			margin-bottom: 0;
		}

		&::before {
			content: url('../img/small-boat.png');
			
			margin-right: 7px;
		}

		& > span {
			color: $light-blue;
		}
	}

	&__all {
		display: block;

		font-family: $bold;
		font-size: 16px;

		color: $orange-text;

		padding: 15px 30px;

		text-decoration: none;

		border: 1px solid $orange-text;
		border-radius: 30px;

		&:hover {
			opacity: .7;
		}
	}
}