.parkings {
	line-height: 26px;

	padding: 0;

	&__header {
		display: flex;

		box-shadow: 0px 0px 5px 3px rgba(229, 238, 246, 0.5);

		&-block {
			flex: 1;

			font-family: $bold;
			font-size: 15px;

			text-align: center;

			color: #9cabb8;

			padding: 28px 20px;

			&:not(:last-child) {
				border-right: 1px solid $background;
			}
		}

		&-link {
			display: inline-block;

			color: inherit;

			text-decoration: none;

			padding-right: 26px;

			position: relative;

			&::after {
				content: '';

				display: block;
				width: 9px;
				height: 22px;

				background: url('../img/arrows.png') no-repeat 0 0;

				position: absolute;
				top: 3px;
				right: 0;
			}
		}
	}

	&__map {
		height: 442px;

		background: url('../img/parking-map.jpg') no-repeat 0 0;
		background-size: cover;
	}
}