.service {

	&__wrapper {
		display: flex;
		flex-wrap: wrap;

		&--sb {
			justify-content: space-between;
		}

		&--mb {
			margin-bottom: 30px;
		}
	}

	&__image {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 55px;

		&--big {
			margin-bottom: 15px;
		}
	}

	&__block {
		width: 30%;
		height: 100px;

		font-family: $medium;
		font-size: 14px;
		line-height: 16px;

		text-align: center;

		&--big {
			font-size: 16px;
		}

		&:not(:nth-child(3n)) {
			margin-right: 5%;
		}
	}

	&__section {
		width: 48%;

		padding: 30px 30px 30px 40px;

		border: 1px solid #2abcf1;
		border-radius: 8px;

		font-size: 15px;

		@include small_mobile {
			width: 100%;

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}

		@include tablet {
			width: 100%;

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}

		@include medium {
			width: 48%;

			&:not(:last-child) {
				margin-bottom: 0;
			}
		}

		&--wight {
			width: 59%;

			font-family: $roman;

			@include small_mobile {
				width: 100%;
			}

			@include tablet {
				width: 100%;	
			}

			@include medium {
				width: 59%;	
			}
		}

		&--narrow {
			width: 40%;

			font-family: $roman;

			@include small_mobile {
				width: 100%;
			}

			@include tablet {
				width: 100%;	
			}

			@include medium {
				width: 40%;	
			}
		}

		&-row {
			display: flex;
			justify-content: space-between;

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}

		&-text {
			width: 70%;
		}

		&-price {
			width: 30%;

			text-align: right;

			font-family: $bold;
			font-size: 16px;
			
			color: $light-blue;
		}
	}
}