.ships-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin-bottom: -20px;

	&--content {
		justify-content: space-between;
		flex-wrap: nowrap;

		@include small_mobile {
			flex-wrap: wrap;
		}

		@include tablet {
			flex-wrap: wrap;	
		}

		@include medium {
			flex-wrap: nowrap;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;

		margin-bottom: 20px;

		@include small {
			width: 100%;
		}

		@include mobile {
			width: 47%;	
		}

		@include tablet {
			width: 47%;	
		}

		@include medium {
			width: calc(35% - 25px);

			&:not(:nth-child(3n)) {
				margin-right: 2.2%;
			}
		}

		@include desctop {
			width: calc(35% - 25px);

			&:not(:nth-child(3n)) {
				margin-right: 2.2%;
			}	
		}

		&--slider {
			padding: 0 10px;

			margin-bottom: 0;
		}

		&-photo {
			width: 100%;

			overflow: hidden;

			@include tablet {
				height: 158px;	
			}

			@include medium {
				height: 136px;	
			}

			@include desctop {
				height: 169px;	
			}

			& > img {
				width: 100%;
			}
		}

		&-desc {
			box-shadow: 0px 0px 5px 3px rgba(229, 238, 246, .5);
		}

		&-block {
			font-family: $roman;
			font-size: 15px;
			line-height: 27px;

			padding: 14px 20px;

			border-left: 1px solid $background;
			border-right: 1px solid $background;	
			border-bottom: 1px solid $background;

			&--header {
				height: 80px;
			}
		}

		&-title {
			font-family: $bold;

			margin-bottom: 5px;

			overflow: hidden;

			&--main {
				font-size: 18px;

				color: $dark-blue;

				margin-bottom: 0;

				@include small_mobile {
					text-align: center;
				}

				@include tablet {
					text-align: center;	
				}
			}

			&--small {
				font-size: 14px;
				line-height: 24px;

				text-align: center;

				margin-bottom: 0;
			}
		}

		&-row {
			display: flex;
			justify-content: space-between;

			&--start {
				justify-content: flex-start;
			}

			&--end {
				justify-content: flex-end;
			}

			&--center {
				justify-content: center;
			}

			&--mb {
				margin-bottom: 25px;
			}

			&--sa {
				justify-content: space-around;
			}
		}

		&-more {
			font-family: $bold;

			margin-top: 10px;

			color: $orange-text;
		}

		&-price {
			font-family: $bold;
			font-size: 22px;

			color: #2abcf1;

			&--small {
				font-size: 18px;

				text-align: center;
			}

			& > span {
				font-size: 15px;
			}
		}

		&-oldprice {
			font-size: 18px;

			color: #9cabb8;

			text-decoration: line-through;
		}

		&-order {
			font-family: $bold;
			font-size: 14px;

			text-decoration: none;

			color: inherit;

			border: 2px solid $orange-text;
			border-radius: 30px;

			padding: 4px 50px;

			&:hover {
				background: $orange-text;

				color: $white;
			}
		}
	}

	&__slider-wrap {
		padding: 30px 0;
	}

	& .slick-list {
		margin-left: -10px;
		margin-right: -10px;
	}

	& .slick-slide:not(:nth-child(3n)) {
		margin-right: 0;
	}

	&.slick-slider img {
		width: 100%;
	}

	& .slick-arrow {
		border: none;

		font-size: 0;

		width: 26px;
		height: 25px;

		padding: 0;

		position: absolute;
		top: -36px;

		&:hover {
			opacity: .5;
		}
	}

	& .slick-next {
		right: 0;

		background: url('../img/icon/blue-small-arrow.png') no-repeat 0 0;
	}

	& .slick-prev {
		right: 27px;

		background: url('../img/icon/blue-small-arrow.png') no-repeat 0 1px;
		transform: rotate(180deg);
	}
}