.main-slider {
	background: $white;

	position: relative;

	&--small {
		padding-top: 40px;
		padding-bottom: 70px;

		background: transparent;
	}

	&::before {
		content: '';

		display: block;
		height: 100%;
		width: 15%;

		background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

		position: absolute;
		left: 0;
		top: 0;

		z-index: 10;
	}

	&::after {
		content: '';

		display: block;
		height: 100%;
		width: 15%;

		background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

		position: absolute;
		right: 0;
		top: 0;

		z-index: 10;
	}

	&--empty {
		margin-bottom: 27px;

		&::before,
		&::after {
			display: none;
		}
	}

	&__slide img{
		margin: auto;
		
		width: 100%;
		height: 100%;
	}

	&__slide {
		margin: 0 7px;

		&--small {
			margin: 0;
		}

		&-wrapper {
			display: flex;
		}

		&--width {
			margin: 0;
		}
	}

	&__slide.slick-current {
		position: relative;

		&::after {
			content: '';

			display: block;
		    height: 155px;
		    width: 100%;

		    background: transparent;
		    background: linear-gradient(to top, rgba(102, 152, 202, .9), rgba(255, 255, 255, 0));
		    
		    position: absolute;
		    bottom: 0;
		    left: 0;
		}
	}

	&__slide--small.slick-current::after {
		display: none;
	}

	& .slick-arrow {
		width: 65px;
		height: 65px;

		background: transparent;
		border: 0;

		font-size: 0;

		padding: 0;
		margin-top: -32.5px;

		position: absolute;
		top: 50%;

		z-index: 20;
	}

	& .slick-prev {
		background: url('../img/arrow-prev.png') no-repeat 0 0;

		left: -33px;
	}

	& .slick-next {
		background: url('../img/arrow-next.png') no-repeat 0 0;

		right: -33px;
	}

	& .slick-dots {
		display: flex;
		justify-content: center;

		width: 100%;

		list-style: none;

		padding: 0;
		margin: 0;

		position: absolute;
		bottom: 20px;
		left: 0;

		z-index: 20;

		& > li {
			width: 10px;
			height: 10px;

			border: 1px solid $white;
			border-radius: 50%;

			cursor: pointer;

			&:not(:last-child) {
				margin-right: 8px;
			}

			&.slick-active {
				background: $white;
			}
		}

		& button {
			background: transparent;
			border: none;

			font-size: 0;
		}
	}

	&__img {
		margin-right: 30px;

		position: relative;

		&::after {
			content: '';

			display: block;
		    height: 155px;
		    width: 100%;

		    background: transparent;
		    background: linear-gradient(to top, rgba(42, 112, 181, 1), rgba(255, 255, 255, 0));
		    
		    position: absolute;
		    bottom: 0;
		    left: 0;
		}

		&-title {
			font-family: $bold;
			font-size: 20px;

			color: $white;

			text-transform: capitalize;

			position: absolute;
			bottom: 20px;

			z-index: 10;

			&::before {
				content: '';

				display: inline-block;
				width: 16px;
				height: 4px;

				margin-right: 12px;
				margin-bottom: 5px;

				background: $white;
			}
		}

		&__text {
			font-size: 15px;

			&--normal {
				font-family: $roman;
			}
		}
	}

	&__description {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include tablet {
			font-size: 14px;	
		}

		@include medium {
			font-size: 16px;	
		}

		@include desctop {
			font-size: 16px;	
		}
	}

	&__row {
		display: flex;
	}

	&__title {
		font-family: $bold;
		font-size: 18px;

		margin-bottom: 5px;

		&--small {
			font-size: 15px;

			margin-right: 12px;
		}
	}

	&__more {
		font-family: $bold;

		color: $orange-text;

		&:hover {
			opacity: .7;
		}
	}
}

.item-slider {
	position: relative;

	@include desctop {
		width: 397px;	
	}

	&__block {
		overflow: hidden;

		margin-bottom: 20px;

		@include desctop {
			float: left;

			margin-right: 30px;	
		}
	}

	&__main-image {
		margin-bottom: 7px;

		& > img {
			width: 100%;
		}
	}

	&::before {
		content: '';

		display: block;
		width: 60px;
		height: 100%;

		background: linear-gradient(to right, rgba(127, 215, 247, .8), rgba(255, 255, 255, 0));

		position: absolute;
		top: 0;
		left: 0;

		z-index: 10;
	}

	&::after {
		content: '';

		display: block;
		width: 60px;
		height: 100%;

		background: linear-gradient(to left, rgba(127, 215, 247, .8), rgba(255, 255, 255, 0));

		position: absolute;
		top: 0;
		right: 0;

		z-index: 10;
	}

	& .slick-arrow {
		display: block;
		height: 12px;
		width: 10px;

		background: transparent;
		border: none;

		margin-top: -6px;

		font-size: 0;

		position: absolute;
		top: 50%;

		z-index: 20;
	}

	& .slick-prev {
		background: url('../img/smallarrow-prev.png') no-repeat 0 0;
		left: 10px;
	}

	& .slick-next {
		background: url('../img/small-arrow-next.png') no-repeat 0 0;
		right: 10px;
	}

	& .slick-list {
		margin: 0 -5px;
	}

	&__slide {
		padding: 0 5px;

		& > img {
			width: 100%;
		}
	}
}