.slider {

	&--main {
		background: linear-gradient(to bottom, $main 10%, $white 60%);

		padding: 28px 0;

		@include small_mobile {
			display: none;	
		}
	}

	&__wrapper {
		position: relative;

		&--small {
			display: flex;
			justify-content: space-between;

			margin-bottom: 60px;
		}
	}

	& .slick-arrow {
		height: 43px;
		width: 28px;

		font-size: 0;

		background: $black;
		border: none;

		position: absolute;
		top: 50%;

		margin-top: -21px;

		cursor: pointer;
	}

	& .slick-prev {
		background: url('../img/arrows.png') no-repeat -3px 0;

		left: -50px;
	}

	& .slick-next {
		background: url('../img/arrows.png') no-repeat -53px 0;

		right: -50px;
	}
	
	&__slide {
		padding: 4px;

		background: $white;
		box-shadow: 0px 0px 3px 3px rgba(235,235,235,1);
		border-radius: 3px;

		position: relative;

		&--small {
			display: flex !important;

			padding: 0;

			box-shadow: none;
			border: 1px solid $grey;

			margin: 0 15px;
		}

		&-info {
			width: 350px;

			font-size: 26px;

			background: rgba(247, 158, 55, .9);
			color: $white;

			text-decoration: none;

			position: absolute;
			bottom: 30px;
			left: 30px;

			@include tablet {
				padding: 10px;	
			}

			@include medium {
				padding: 15px;	
			}

			@include desctop {
				padding: 27px 30px;
			}

			&:hover {
				opacity: .9;
			}
		}

		&-text {
			font-family: $bold;

			line-height: 30px;

			margin-bottom: 20px;
		}

		& > img {
			width: 100%;
		}
	}

	& .slick-dots {
		display: flex;

		list-style: none;

		padding-left: 0;
		margin: 0;

		position: absolute;
		right: 30px;
		bottom: 30px;
	}

	& .slick-dots > li {
		width: 20px;
		height: 20px;

		background: $white;

		border: 3px solid $white;
		border-radius: 50%;

		cursor: pointer;

		& > button {
			border: none;

			background: transparent;

			font-size: 0;
		}

		&:not(:last-child) {
			margin-right: 20px;
		}

		&.slick-active {
			background: $blue;
		}
	}

	&__text {
		text-decoration: none;

		color: $blue;

		flex: 1;

		@include mobile {
			padding: 7px;

			font-size: 12px;
			line-height: 16px;
		}

		@include tablet {
			font-size: 14px;
			line-height: 16px;

			padding: 10px;
		}

		@include medium {
			font-size: 16px;
			line-height: 24px;

			padding: 16px;
		}

		&:hover {
			opacity: .7;
		}
	}

	&__image {
		border-right: 1px solid $grey;

		@include mobile {
			height: 70px;
			width: 70px;
		}

		@include tablet {
			height: 80px;
			width: 80px;
		}

		@include medium {
			height: 100px;
			width: 100px;
		}

		& > img {
			height: 100%;
		}
	}
}