extends ../_template

block content
	.main-content
		.container
			+breadcrumbs(['Главная', 'Мероприятия', 'Свадьба на теплоходе'])

			h2.main-title.main-title--left Свадьба на теплоходе
			.wrapper
				section.content.events.page
					.events__header
						h5.events__title СК "Мосфлот" – компания судовладелец, поэтому мы можем гарантировать лучшие цены на аренду кораблей на свадьбу в Москве.
					.events__main-image
						img(src="/assets/img/wedding.jpg", alt="")
					.events__slider#events-slider
						- var x = 6;
							- for (var i = 0; i <= x; i++) {
								.events__slide
									img(src="/assets/img/wedding.jpg", alt="")
							- }
					.events__description
						p Рынок услуг переполнен самыми разнообразными идеями и предложениями проведения торжеств и праздников. Особенно, если это касается организации такого важного и трогательного события, как свадебный банкет.
						p Компания «Мосфлот» приглашает отметить свадьбу на теплоходе. Мы можем предложить большой выбор кораблей и яхт, среди которых вы точно найдете именно то, что сделает ваш самый светлый день поистине незабываемым. Большое разнообразие речных маршрутов позволяет проводить мероприятия, как в Москве, так и за ее пределами на одной из «зеленых стоянок».
						h3.title-grey Свадьба на теплоходе "под ключ" от СК "Мосфлот"
						p Организация любого мероприятия на корабле – процесс хлопотный и довольно трудоемкий. Порой бывает очень сложно учесть все нюансы при подготовке и проведении торжества. Особенно, если все заботы ложатся на плечи счастливых молодых или их ближайших родственников. Доверьте проведение мероприятий команде профессионалов! СК "Мосфлот" поможет вам:
						ul
							li украсить палубу, банкетный зал, площадку для торжественной выездной регистрации;
							li составить индивидуальное меню;
							li организовать кейтеринговое обслуживание: фуршет, банкет, приветственный коктейль или барбекю;
							li подобрать развлекательную программу для гостей и виновников торжества;
							li организовать незабываемый салют или фейерверк.
						p Аренда теплохода на свадьбу дает возможность спокойно и грамотно организовать

					.events__footer
						h3.title-grey Самые популярные теплоходы для свадьбы
						.ships-list.ships-list--content
							- var x = 2;
							- for (var i = 0; i <= x; i++) {
								.ships-list__item
									.ships-list__item-photo
										img(src="/assets/img/ship-photo.jpg", alt="")
									.ships-list__item-desc
										.ships-list__item-block
											.ships-list__item-title.ships-list__item-title--main Теплоход вдохновение
										.ships-list__item-block
											.ships-list__item-title Вместимость:
											.ships-list__item-row
												span Банкет:
												span до 30 чел
											.ships-list__item-row
												span Фуршет:
												span до 60 чел
										.ships-list__item-block
											.ships-list__item-title Аренда:
											.ships-list__item-row от 4 500 руб/час
											.ships-list__item-row.ships-list__item-row--end
												a.ships-list__item-more(href="#") Подробнее
							- }
							
				aside.aside
					.order-form
						.order-form__title Заказать индивидуальный расчет стоимости мероприятия
						.order-form__row
							label.order-form__label(for="") Ваше имя:
							input.order-form__input(type="text")
						.order-form__row
							label.order-form__label(for="") Ваш телефон:
							input.order-form__input.order-form__input--phone(type="text")
						.order-form__row
							label.order-form__label(for="") Планируемая дата:
							input.order-form__input.order-form__input--date(type="text")
						input.order-form__submit(type="submit", value="Заказать")

					.our-offers
						.our-offers__header Наши предложения "под ключ"
						ul
							li Пятичасовая речная прогулка на теплоходе класса "Москвич"
							li Банкет на 25 гостей (из расчета 2 750 рублей на персону)
							li Музыкальная аппаратура
							li Работа ди-джея
							li Оформление судна воздушными шарами
						.our-offers__footer
							.our-offers__title Стоимость:
							.our-offers__cost 110 000 рублей
							.our-offers__person (4 400 руб. с персоны)
					.our-offers
						ul
							li Пятичасовая речная прогулка на теплоходе класса "Москвич"
							li Банкет на 25 гостей (из расчета 2 750 рублей на персону)
							li Музыкальная аппаратура
							li Работа ди-джея
							li Оформление судна воздушными шарами
						.our-offers__footer
							.our-offers__title Стоимость:
							.our-offers__cost 110 000 рублей
							.our-offers__person (4 400 руб. с персоны)

						