extends ../_template

block content
	.main-content
		.container
			+breadcrumbs(['Главная', 'Интересное', 'Отзывы'])

			h1.main-title.main-title--left Отзывы
			.wrapper
				aside.aside
					.aside__block
						h2.aside__title Интересное
						ul.aside__menu
							li.aside__menu-item.aside__menu-item--active
								a.aside__menu-link(href="#") Контакты
							li.aside__menu-item
								a.aside__menu-link(href="#") Миссия
							li.aside__menu-item
								a.aside__menu-link(href="#") Лицензии
							li.aside__menu-item
								a.aside__menu-link(href="#") Договора, реквизиты и оплата
				section.content.feedbacks
					.feedbacks__header
						.feedbacks__title-wrapper
							h2.title-grey Общая оценка нашей работы
						.rating
							ul.rating__stars
								li.rating__star
								li.rating__star
								li.rating__star
								li.rating__star
								li.rating__star.rating__star--empty
							.rating__count 4.5 из 5
						.feedbacks__wrapper
							ul.rating__feedbacks
								li.rating__feedbacks-item
									.rating__feedbacks-val 5
									.rating__feedbacks-scale
										span
									.rating__feedbacks-count 34 отзыва
								li.rating__feedbacks-item
									.rating__feedbacks-val 4
									.rating__feedbacks-scale
										span
									.rating__feedbacks-count 14 отзывов
								li.rating__feedbacks-item
									.rating__feedbacks-val 3
									.rating__feedbacks-scale
										span
									.rating__feedbacks-count 9 отзыва
								li.rating__feedbacks-item
									.rating__feedbacks-val 2
									.rating__feedbacks-scale
										span
									.rating__feedbacks-count 5 отзыва
								li.rating__feedbacks-item
									.rating__feedbacks-val.rating__feedbacks-val--empty 1
									.rating__feedbacks-scale
										span
									.rating__feedbacks-count 2 отзыва
							.feedbacks__add
								.feedbacks__sign Здесь Вы можете оставить свой отзыв о нашей работе!
								a.feedbacks__new(href="") Оставить отзыв

					.feedbacks__list
						.feedbacks__list-header
							h2.title-grey.feedbacks__list-title Отзывы
							.sort
								.sort__title Сортировка:
								select.sort__select
									option(value="date") По дате
									option(value="rating") По рейтингу
						- var x = 7;
							- for (var i = 0; i <= x; i++) {
								.feedbacks__list-item
									.feedbacks__list-data
										ul.rating__stars.rating__stars--mini
											li.rating__star.rating__star--mini
											li.rating__star.rating__star--mini
											li.rating__star.rating__star--mini
											li.rating__star.rating__star--mini
											li.rating__star.rating__star--miniempty
										.feedbacks__list-name Иван Иванов
										.feedbacks__list-date 13.05.2017
									.feedbacks__list-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error tempora eligendi saepe omnis, perferendis unde dolores, neque commodi explicabo inventore quae recusandae eos rerum itaque eaque nihil amet accusantium earum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus vel enim, magni dolorem, beatae nobis minus illo in, soluta veniam quibusdam doloremque saepe molestiae necessitatibus. Doloribus laboriosam, vero necessitatibus et.
							- }
						include ../common/_pagination
