extends ../_template

block content
	.main-slider#main-slider
		.main-slider__slide
			img(src="/assets/img/main-slide.jpg", alt="")
		.main-slider__slide
			img(src="/assets/img/main-slide.jpg", alt="")
		.main-slider__slide
			img(src="/assets/img/main-slide.jpg", alt="")
		.main-slider__slide
			img(src="/assets/img/main-slide.jpg", alt="")

	.advantages
		.container
			h1.main-title Наши преимущества
			.advantages__blocks
				.advantages__block
					img(src="/assets/img/quality.png", alt="")
					.advantages__block-text Лицензия на перевозки
				.advantages__block
					img(src="/assets/img/file.png", alt="")
					.advantages__block-text Работа по договору
				.advantages__block
					img(src="/assets/img/cruise-ship-80.png", alt="")
					.advantages__block-text Собственный флот
				.advantages__block
					img(src="/assets/img/money.png", alt="")
					.advantages__block-text Карта, наличные, безнал
				.advantages__block
					img(src="/assets/img/restaurant.png", alt="")
					.advantages__block-text Свой кейтеринг
				.advantages__block
					img(src="/assets/img/calendar.png", alt="")
					.advantages__block-text 17 лет на рынке

	.lease
		.container
			h1.main-title Аренда теплохода - просто и быстро
			.lease__wrapper
				.lease__block
					.lease__block-image
						img(src="/assets/img/boat.png", alt="")
					.lease__text <span>Выберите теплоход</span> самостоятельно или с помощью нашего менеджера
				.lease__block
					.lease__block-image
						img(src="/assets/img/shake.png", alt="")
					.lease__text <span>Забронируйте</span> по телефону и назначьте дату и время просмотра
				.lease__block
					.lease__block-image
						img(src="/assets/img/paper.png", alt="")
					.lease__text <span>Заключите</span> официальный договор аренды у нас в офисе
	
	.our-ships
		.container
			h2.main-title.main-title--logo Наши теплоходы
		.our-ships__block
			.container
				.our-ships__wrapper
					.our-ships__header Теплоходы <span>до 35 человек</span>
					a.our-ships__all(href="#") Все теплоходы до 35 человек
			.main-slider.main-slider--small
				.main-slider__slide.main-slider__slide--small
					.main-slider__slide-wrapper
						.main-slider__img
							img(src="/assets/img/boat-slide.png", alt="")
							.main-slider__img-title Теплоход вдохновение
						.main-slider__description
							.main-slider__block
								.main-slider__title Вместимость:
								.main-slider__row
									.main-slider__title.main-slider__title--small Банкет:
									.main-slider__text до 30 чел.
								.main-slider__row
									.main-slider__title.main-slider__title--small Фуршет:
									.main-slider__text до 60 чел.
							.main-slider__block
								.main-slider__title Аренда:
								.main-slider__text.main-slider__text--normal от 4 500 руб./час
							a.main-slider__more(href="#") Подробнее
				.main-slider__slide.main-slider__slide--small
					.main-slider__slide-wrapper
						.main-slider__img
							img(src="/assets/img/boat-slide.png", alt="")
							.main-slider__img-title Теплоход вдохновение
						.main-slider__description
							.main-slider__block
								.main-slider__title Вместимость:
								.main-slider__row
									.main-slider__title.main-slider__title--small Банкет:
									.main-slider__text до 30 чел.
								.main-slider__row
									.main-slider__title.main-slider__title--small Фуршет:
									.main-slider__text до 60 чел.
							.main-slider__block
								.main-slider__title Аренда:
								.main-slider__text.main-slider__text--normal от 4 500 руб./час
							a.main-slider__more(href="#") Подробнее
				.main-slider__slide.main-slider__slide--small
					.main-slider__slide-wrapper
						.main-slider__img
							img(src="/assets/img/boat-slide.png", alt="")
							.main-slider__img-title Теплоход вдохновение
						.main-slider__description
							.main-slider__block
								.main-slider__title Вместимость:
								.main-slider__row
									.main-slider__title.main-slider__title--small Банкет:
									.main-slider__text до 30 чел.
								.main-slider__row
									.main-slider__title.main-slider__title--small Фуршет:
									.main-slider__text до 60 чел.
							.main-slider__block
								.main-slider__title Аренда:
								.main-slider__text.main-slider__text--normal от 4 500 руб./час
							a.main-slider__more(href="#") Подробнее
				.main-slider__slide.main-slider__slide--small
					.main-slider__slide-wrapper
						.main-slider__img
							img(src="/assets/img/boat-slide.png", alt="")
							.main-slider__img-title Теплоход вдохновение
						.main-slider__description
							.main-slider__block
								.main-slider__title Вместимость:
								.main-slider__row
									.main-slider__title.main-slider__title--small Банкет:
									.main-slider__text до 30 чел.
								.main-slider__row
									.main-slider__title.main-slider__title--small Фуршет:
									.main-slider__text до 60 чел.
							.main-slider__block
								.main-slider__title Аренда:
								.main-slider__text.main-slider__text--normal от 4 500 руб./час
							a.main-slider__more(href="#") Подробнее

		.our-ships__block.our-ships__block--grey
			.container
				.our-ships__wrapper
					.our-ships__header Теплоходы <span>до 90 человек</span>
					a.our-ships__all(href="#") Все теплоходы до 90 человек
			.main-slider.main-slider--small
				.main-slider__slide.main-slider__slide--small
					.main-slider__slide-wrapper
						.main-slider__img
							img(src="/assets/img/boat-slide.png", alt="")
							.main-slider__img-title Теплоход вдохновение
						.main-slider__description
							.main-slider__block
								.main-slider__title Вместимость:
								.main-slider__row
									.main-slider__title.main-slider__title--small Банкет:
									.main-slider__text до 30 чел.
								.main-slider__row
									.main-slider__title.main-slider__title--small Фуршет:
									.main-slider__text до 60 чел.
							.main-slider__block
								.main-slider__title Аренда:
								.main-slider__text.main-slider__text--normal от 4 500 руб./час
							a.main-slider__more(href="#") Подробнее
				.main-slider__slide.main-slider__slide--small
					.main-slider__slide-wrapper
						.main-slider__img
							img(src="/assets/img/boat-slide.png", alt="")
							.main-slider__img-title Теплоход вдохновение
						.main-slider__description
							.main-slider__block
								.main-slider__title Вместимость:
								.main-slider__row
									.main-slider__title.main-slider__title--small Банкет:
									.main-slider__text до 30 чел.
								.main-slider__row
									.main-slider__title.main-slider__title--small Фуршет:
									.main-slider__text до 60 чел.
							.main-slider__block
								.main-slider__title Аренда:
								.main-slider__text.main-slider__text--normal от 4 500 руб./час
							a.main-slider__more(href="#") Подробнее
				.main-slider__slide.main-slider__slide--small
					.main-slider__slide-wrapper
						.main-slider__img
							img(src="/assets/img/boat-slide.png", alt="")
							.main-slider__img-title Теплоход вдохновение
						.main-slider__description
							.main-slider__block
								.main-slider__title Вместимость:
								.main-slider__row
									.main-slider__title.main-slider__title--small Банкет:
									.main-slider__text до 30 чел.
								.main-slider__row
									.main-slider__title.main-slider__title--small Фуршет:
									.main-slider__text до 60 чел.
							.main-slider__block
								.main-slider__title Аренда:
								.main-slider__text.main-slider__text--normal от 4 500 руб./час
							a.main-slider__more(href="#") Подробнее
				.main-slider__slide.main-slider__slide--small
					.main-slider__slide-wrapper
						.main-slider__img
							img(src="/assets/img/boat-slide.png", alt="")
							.main-slider__img-title Теплоход вдохновение
						.main-slider__description
							.main-slider__block
								.main-slider__title Вместимость:
								.main-slider__row
									.main-slider__title.main-slider__title--small Банкет:
									.main-slider__text до 30 чел.
								.main-slider__row
									.main-slider__title.main-slider__title--small Фуршет:
									.main-slider__text до 60 чел.
							.main-slider__block
								.main-slider__title Аренда:
								.main-slider__text.main-slider__text--normal от 4 500 руб./час
							a.main-slider__more(href="#") Подробнее

		.our-ships__block
			.container
				.our-ships__wrapper
					.our-ships__header Теплоходы <span>до 90 человек</span>
					a.our-ships__all(href="#") Все теплоходы до 90 человек
			.main-slider.main-slider--small
				.main-slider__slide.main-slider__slide--small
					.main-slider__slide-wrapper
						.main-slider__img
							img(src="/assets/img/boat-slide.png", alt="")
							.main-slider__img-title Теплоход вдохновение
						.main-slider__description
							.main-slider__block
								.main-slider__title Вместимость:
								.main-slider__row
									.main-slider__title.main-slider__title--small Банкет:
									.main-slider__text до 30 чел.
								.main-slider__row
									.main-slider__title.main-slider__title--small Фуршет:
									.main-slider__text до 60 чел.
							.main-slider__block
								.main-slider__title Аренда:
								.main-slider__text.main-slider__text--normal от 4 500 руб./час
							a.main-slider__more(href="#") Подробнее
				.main-slider__slide.main-slider__slide--small
					.main-slider__slide-wrapper
						.main-slider__img
							img(src="/assets/img/boat-slide.png", alt="")
							.main-slider__img-title Теплоход вдохновение
						.main-slider__description
							.main-slider__block
								.main-slider__title Вместимость:
								.main-slider__row
									.main-slider__title.main-slider__title--small Банкет:
									.main-slider__text до 30 чел.
								.main-slider__row
									.main-slider__title.main-slider__title--small Фуршет:
									.main-slider__text до 60 чел.
							.main-slider__block
								.main-slider__title Аренда:
								.main-slider__text.main-slider__text--normal от 4 500 руб./час
							a.main-slider__more(href="#") Подробнее
				.main-slider__slide.main-slider__slide--small
					.main-slider__slide-wrapper
						.main-slider__img
							img(src="/assets/img/boat-slide.png", alt="")
							.main-slider__img-title Теплоход вдохновение
						.main-slider__description
							.main-slider__block
								.main-slider__title Вместимость:
								.main-slider__row
									.main-slider__title.main-slider__title--small Банкет:
									.main-slider__text до 30 чел.
								.main-slider__row
									.main-slider__title.main-slider__title--small Фуршет:
									.main-slider__text до 60 чел.
							.main-slider__block
								.main-slider__title Аренда:
								.main-slider__text.main-slider__text--normal от 4 500 руб./час
							a.main-slider__more(href="#") Подробнее
				.main-slider__slide.main-slider__slide--small
					.main-slider__slide-wrapper
						.main-slider__img
							img(src="/assets/img/boat-slide.png", alt="")
							.main-slider__img-title Теплоход вдохновение
						.main-slider__description
							.main-slider__block
								.main-slider__title Вместимость:
								.main-slider__row
									.main-slider__title.main-slider__title--small Банкет:
									.main-slider__text до 30 чел.
								.main-slider__row
									.main-slider__title.main-slider__title--small Фуршет:
									.main-slider__text до 60 чел.
							.main-slider__block
								.main-slider__title Аренда:
								.main-slider__text.main-slider__text--normal от 4 500 руб./час
							a.main-slider__more(href="#") Подробнее

	main.main
		.container
			h2.main-title.main-title--logo Аренда теплохода: мы работаем, Вы отдыхаете
			p Почему нужно доверять организацию праздника профессионалам? Все банально просто. Чтобы уберечь себя от неприятных "сюрпризов" в ходе подготовки и проведения мероприятия!
			p
				a(href="#") Аренда теплохода в Москве
				|  – это интересная альтернатива другим форматам, но в то же время она сложнее в организации: согласование подходов к причалам и стоянкам, получение разрешений на работу пиротехников при проведении салютов и фейерверков на корабле, подвоз продуктов и  оборудования – это лишь малая часть задач, с которыми приходится иметь дело.
			p Отдельная история – подготовка банкета или фуршета в условиях судовой кухни. Ограниченное пространство и оборудование камбуза, запрет на использование открытого огня – без многолетнего опыта работы в таких условиях результат может разочаровать. Но, в тоже время, аренда теплохода – это абсолютная свобода выбора:
				ul
					li свадьба
					li юбилей
					li корпоратив
					li выпускной вечер и последний звонок
					li банкет
					li фуршет
			p Мы предложим для вашего мероприятия лучших ведущих, ди-джеев, танцевальные и музыкальные коллективы, трансфер, выездную регистрацию и много других сопутствующих услуг.
			p Если теплоход арендуется для прогулки за пределы центральной части Москвы, то существует множество различных вариантов зеленых стоянок для барбекю, пикника, спортивных игр, тимбилдинга. В центре Москвы, кстати, тоже есть зеленые стоянки, но чаще это аренда без остановок по историческому центру.
			p Если Вам не нужен весь теплоход в аренду, а хочется просто прогуляться на речном трамвайчике несколько часов, то скорее всего будут интересны прогулки на теплоходе по билетам.
			h3.h3.h3--blue Преимущества аренды теплохода в Москве от собственника
			b Мосфлот – лидирующая компания судовладелец, которая работает уже 17 лет!
			p СК МОСФЛОТ – это:
				ul
					li безопасные, надежные, современные теплоходы и яхты;
					li безупречный сервис;
					li безопасные, надежные, современные теплоходы и яхты;
					li безупречный сервис;
					li безопасные, надежные, современные теплоходы и яхты;
					li безупречный сервис;
			p Снять теплоход – это недорого
			p А теперь о цене вопроса. Здесь прежде всего нужно сказать, что МОСФЛОТ является компанией судовладельцем. Прямая аренда от собственника – это всегда низкие цены, без накруток и переплат посредникам! Поэтому аренда у нас обойдется достаточно недорого. Кроме этого, теплоходы стоят ничуть не дороже тех же ресторанов, а ярких впечатлений вы получите намного больше!
			p Мы индивидуально работаем с каждым клиентом в соответствии с требованиями и бюджетом, поэтому предложим Вам наилучший вариант проведения мероприятия.
			p Масштаб праздника может быть любым – яхты от 5 человек, корабли средних размеров от 30 до 180 человек, крупные круизные и банкетные суда до 500 и даже более гостей.
			p
				b Мы сделаем ваш праздник вкусным, веселым и запоминающимся!