extends ../_template

block content
	.main-content
		.container
			+breadcrumbs(['Главная', 'Интересное', 'Новости'])

			h2.main-title.main-title--left Новости
			.wrapper
				aside.aside
					.aside__block
						.aside__title О нас
						ul.aside__menu
							li.aside__menu-item.aside__menu-item--active
								a.aside__menu-link(href="#") Контакты
							li.aside__menu-item
								a.aside__menu-link(href="#") Миссия
							li.aside__menu-item
								a.aside__menu-link(href="#") Лицензии
							li.aside__menu-item
								a.aside__menu-link(href="#") Договора, реквизиты и оплата
					.aside__block
						.aside__title Интересное
						ul.aside__menu
							li.aside__menu-item
								a.aside__menu-link(href="#") FAQ
							li.aside__menu-item
								a.aside__menu-link(href="#") Пункт 2
							li.aside__menu-item
								a.aside__menu-link(href="#") Пункт 3
							li.aside__menu-item
								a.aside__menu-link(href="#") Пункт 4
							li.aside__menu-item
								a.aside__menu-link(href="#") Пункт 5
				section.content.news
					.news__block-wrapper
						- var x = 5;
							- for (var i = 0; i <= x; i++) {
								.news__block
									.news__image
										img(src="/assets/img/news-photo.png", alt="")
									.news__description
										.news__description-title Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										.news__description-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa esse maiores cumque itaque perferendis soluta maxime nam eveniet, dolorem corporis adipisci eaque debitis qui quae nemo cupiditate, ipsa tempore a?
										a.news__description-more(href="news-item.html") Подробнее
							- }

					include ../common/_pagination