extends ../_template

block content
	.main-content
		.container
			+breadcrumbs(['Главная', 'Зеленые стоянки'])

			h2.main-title.main-title--left Зеленые стоянки
			.wrapper
				aside.aside
					.aside__block
						.aside__title Сквер и канал им. Москвы
						ul.aside__menu
							li.aside__menu-item.aside__menu-item--active
								a.aside__menu-link(href="parking.html") Бухта радости
								ul.aside__menu-sublist
									li.aside__menu-sublist-item
										a.aside__menu-sublist-link(href="") Шатёр 1200 кв.м.
									li.aside__menu-sublist-item
										a.aside__menu-sublist-link(href="") Шатёр 1200 кв.м.
									li.aside__menu-sublist-item
										a.aside__menu-sublist-link(href="") Шатёр 1200 кв.м.
									li.aside__menu-sublist-item
										a.aside__menu-sublist-link(href="") Шатёр 1200 кв.м.
									li.aside__menu-sublist-item
										a.aside__menu-sublist-link(href="") Шатёр 1200 кв.м.
							li.aside__menu-item
								a.aside__menu-link(href="#") Икша
							li.aside__menu-item
								a.aside__menu-link(href="#") Пирогово
							li.aside__menu-item
								a.aside__menu-link(href="#") Патио
							li.aside__menu-item
								a.aside__menu-link(href="#") Хвойный бор
						.aside__title Центр и Серебряный бор
						ul.aside__menu
							li.aside__menu-item
								a.aside__menu-link(href="#") Викинг
							li.aside__menu-item
								a.aside__menu-link(href="#") Серебряный бор

				section.content.page.parkings
					p Вы знаете, что такое «зеленая стоянка»? Так в речных круизах называют остановку теплохода у причала за городом. Зеленая стоянка – это возможность спуститься на берег, прогуляться по узким лесным тропинкам, приобщиться к родной природе.
					p Хотите устроить пикник у реки во время стоянки теплохода? Отлично, не проблема! Аренда теплохода позволяет организовать загородную прогулку на несколько часов или целый день – по вашему желанию. Зачастую зеленая стоянка становится центральным моментом отдыха на воде.
					h3.title-grey Виды зеленых стоянок
					p
						b Зеленые стоянки, как правило, бывают двух видов:
						ul
							li Организованные. Они сертифицированы речной инспекцией, оборудованы причалом или дебаркадером. Чаще всего на них есть удобный пляж, лесная зона для прогулок, спортивные площадки. Шатры для массовых мероприятий или деревянные домики для небольших компаний. Места для пикника оборудованы всем необходимым.
							li «Дикие». В большинстве случаев здесь отсутствуют элементарные удобства и необходимая инфраструктура.
					h3.title-grey Наиболее популярные зеленые стоянки в Подмосковье
					p
						b Наибольшей популярностью у москвичей и гостей столицы пользуются зоны отдыха:
						ul
							li Хвойный Бор
							li Солнечная Поляна
							li Икша
							li Пирогово
							li Бухта радости
							li Зона отдыха «Горки»
					.parkings__map